<!DOCTYPE html>
<html>
    <head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,user-scalable=yes">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<style>
	  body{
	  margin:0;
	  background-color:#eee;
	  }
	</style>
    </head>
    <body>
      <simple-app></simple-app>

    </body>
</html>
