::slotted(*){
    width:100%;
    background:white;
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    /*    transform:translate3d(0,0,0);*/
    /*min-height:200px;*/
    transition: transform 0.3s ease-out;
}


::slotted(.left){
    transform:translate3d(-100%,0,0);
}

::slotted(.right){
    transform:translate3d(100%,0,0);
}

:host{
    display:block;
    height:100%;
}

.rt{
    position:relative;
}
