.dialogWrapper{
    position:fixed;
    height:100%;
    width:100%;
    top:0px;
    bottom:0px;
    display:flex;
    background:white;
}

.dialogWrapper>*{
    width:100%;
    height:0%;
    margin:auto;
    transition: height 0.25s ease-in;
}

.dialogWrapper.animated>*{
    width:100%;
    height:100%;
}

.contentCont{
    display:block;
    height:100%;
}

.contentCont>*{
    height:100%;
}
