#circle{
    border-radius:50%;
    background:${color};
    height:var(--circle-size,35px);
    width:var(--circle-size,35px);
    line-height:var(--circle-size,35px);
    font-size: calc(var(--circle-size,35px) - 15px);
    text-align:center;
    margin:3px;
    color:white;
}
