.login {
  max-width: 30%;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
}

@media (max-width: 480px) {
  .login {
    min-width: 80%;
    max-width: 90%;
    width: 80%;
  }
}

mui-textfield {
  display: block;
  margin: 20px;
}
