.header{
    height:40px;
    background:blue;
    color:white;
    font-size:36px;
    position:fixed;
    width:100%;
    top:-40px;
    transition: top 0.2s ease-in-out;
}
.header-visible{
    top:0px;
}
.content{

    /*	    height:4000px;*/
}

tab-bar{
    --tab-bg-color:var(--primary-color);
    --tab-color:var(--tab-text-color);
    display:block;

}

app-bar{
    --appbar-bg-color:var(--primary-color);
    --appbar-color:var(--text-primary-color);
    display:block;
}

.hh {
    z-index:2;
    position:fixed;
    width:inherit;
    transition: top 0.2s ease-in-out;
}

#side-nav{
    background:white;
    width:300px;
}
:host{
    font-family:Roboto;
    display:inline-block;
    height:100vh;
    width:100vw;
    position:fixed;
    overflow-y:auto;
    overflow-x:hidden;
}
