app-bar{
    --appbar-bg-color:var(--primary-color);
    --appbar-color:var(--text-primary-color);
}

:host{
    display:block;
}

.menuIcon{

    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
}

.menuIcon svg{
    fill:var(--text-primary-color);
}

.appBarLabel{
    /*margin-left:20px;*/
}

.flexCont{
    display:flex;
    flex-direction:row;
    align-items:center;
}
