/*
:host{
    --primary-color:#03A9F4;
    --dark-primary-color:#0288D1;
    --light-primary-color:#B3E5FC;
    --text-primary-color:#FFFFFF;
    --accent-color:#FF4081;
    --primary-text-color:#212121;
    --secondary-text-color:#757575;
    --divider-color:#BDBDBD;
}
*/
:host {
  --dark-primary-color: #303f9f;
  --primary-color: #3f51b5;
  --light-primary-color: #c5cae9;
  --text-primary-color: #ffffff;
  --accent-color: #ff4081;
  --primary-background-color: #c5cae9;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --disabled-text-color: #bdbdbd;
  --divider-color: #bdbdbd;
}

tab-bar {
  --tab-text-color: var(--text-primary-color);
  --tab-underline-color: var(--accent-color);
  --tab-active-color: var(--text-primary-color);
}
